/* header style */
.header {
    height: 10%;
    position: relative;
    z-index: 10;
    background-color: var(--light);
}

/* footer style */
.footer {
    background-color: var(--light);
    position: relative;
    margin-top: 2px;
}

/* style blog content */
.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

/* style blog box content */
.content-blog {
    position: relative;
    top: 0px;
    margin: 5px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 5px solid var(--gray-dark);
    background-color: var(--antiquewhite);
    color: var(--dark);
    border-radius: 20px;
    box-sizing: border-box;
}


#content,
#title,
#user {
    word-break: break-word;
    margin: auto;
    width: 97%;
    padding: 5px;
}

/* if authorized style */
.authorized {
    font-family: var(--font-family-sans-serif);
    max-width: 100%;
    max-height: 100vh;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    color: var(--dark);
    background-color: var(--light);
    transition: background-color 0.6s, color 1.6s ease;
}

/* if unAuthorized then hid everything and redirect */
.unAuthorized {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.unAuthorized::before {
    content: "You need to fill out the form on the main page for authorization.";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: var(--error);
    text-align: center;
    z-index: 1;
}

.unAuthorized>* {
    visibility: hidden;
}