.header {
    height: 10%;
    position: fixed;
    z-index: 10;
    /* background-color: var(--light); */
}

.footer {
    height: 67px;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 80px;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content-blog {
    position: relative;
    top: 0px;
    margin: 5px;
    display: flex;
    width: 95%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--gray-dark);
    background-color: var(--antiquewhite);
    color: var(--dark);
    border-radius: 10px 100px / 110px;
}

body {
    min-height: 200vh;
}

#content {
    display: flex;
    width: 90%;
    justify-content: center;
}

#title {
    padding: 5px;
}

#user {
    padding: 5px;
}