.box {
    position: relative;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    border-top: 3px solid var(--dark);
    border-bottom: 3px solid var(--dark);
    margin-top: 2px;
    margin-right: 2px;
    height: 100%;
}

.box img {
    width: 100%;
    height: auto;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

#flex-left {
    border-right: 3px solid var(--dark);
}

#flex-right {
    border-left: 3px solid var(--dark);
}