/* content box form */
.box {
    position: relative;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    border-top: 3px solid var(--dark);
    border-bottom: 3px solid var(--dark);
    margin-top: 2px;
    margin-right: 2px;
    height: 100%;
}

.box img {
    width: 60%;
    height: auto;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* container logo */
.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

#flex-left {
    border-right: 3px solid var(--dark);
}

#flex-right {
    border-left: 3px solid var(--dark);
}

/* form style */
.form {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.form input,
.form textarea {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--light);
    background-color: var(--gray);
    color: var(--light);
}

.form input::placeholder,
.form textarea::placeholder {
    color: var(--light);
}

.form textarea {
    height: 150px;
    resize: vertical;
}

.form h2 {
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}

.form button {
    height: 40px;
    width: 120px;
    background-color: var(--gray-dark);
    color: var(--light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button:hover {
    background-color: var(--yellow);
}

/* meadie for other devices */
@media screen and (max-width: 768px) {
    .footer h3 {
        opacity: 0;
    }

    .container {
        flex-direction: column;
        justify-content: flex-start;
    }

    .box {
        width: 100%;
        height: 40%;
    }

    #flex-left,
    #flex-right {
        border: 0px solid;
        margin: 10px;
    }

    .logo {
        width: 50%;
    }

    .form textarea {
        height: 50px;
    }

    .form h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
}